/* App.css */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

main {
  justify-content: space-around;
  margin: 20px;
}
.category-list {
  /* display: flex; */
  flex-direction: column; /* Stack categories vertically */
  gap: 20px;
}

.category {
  /* width: '80%'; */
  /* display: flex; */
  /* border: 1px solid #ccc; */
  padding: 10px;
}

.category-header {
  flex-direction: column;
  justify-content: space-between;

}
a {
  text-decoration: none;
  color: #007bff;
}

.product-list-horizontal {
  display: flex;
  /* overflow-x: auto; */
  gap: 10px;
  padding: 10px 0;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
